/* import font */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Londrina+Solid:wght@100;400&display=swap');
/* general settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fffded;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
button{
    background: none;
}
/* navbar settings */

.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0 0 0;
    font-family: 'Gloria Hallelujah', cursive;
    color: #44220e;
    font-size: 1.3rem;
}
.logo img{
    width: 100px;
    height: 100px;
}
.burger-menu{
    display: none;
    font-size: 2rem;
    cursor: pointer;
}
.mobile-menu{
    display: none;
}
.menu-list{
    display: flex;
    align-items: center;
}
.menu-list li{
    padding: 10px;
    transition: .5s ease;
}
.menu-list li:hover{
    text-decoration: underline;
    transition: .5s ease;
}
/* btns settings*/
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* .menu::after{
    content: '';
    border: 1px solid #000;
    display: flex;
    width: 20px;
    position: absolute;
} */

.menu h1{
    font-family: 'Londrina Solid', cursive;
    font-size: 5rem;
    text-transform: uppercase;
}
.btn-order{
    border: 2px solid #44220e;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 50px;
    transition: .4s ease;
}
.btn-order:hover{
    background: #44220e;
    color: #fff;
}
.btn{
    padding: 20px;
    margin: 5px;
    border-style: none;
    position: relative;
    top: 25px;
    text-transform: uppercase;
    font-family: 'Londrina Solid', cursive;
    cursor: pointer;
    color: #000;
    transition: .3s ease;
    font-size: 1.4rem;
}
.btn:hover{
    box-shadow: 0px 0px 4px 0px #8a8888;
}
/* menu settings */
.categories{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.category{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    position: relative;
    top: 100px;
}

.box-item{
    padding: 0 0 50px 50px;
}
.category img{
    width: 90%;
    height: 250px;
    object-fit: cover;
}
.title{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    
}
.parraf{
    position: relative;
    top: 5px;
    color: #524945;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    padding-bottom: 10px;
}
.price{
    font-weight: bold;
    position: relative;
    top: 10px;
    font-family: 'Russo One', sans-serif;
}


/* medias queries */

@media all and (max-width: 1024px){
    .nav{
    justify-content: space-around;
    }
    .img,
    .main-menu,
    .btn-order{
        display: none;
    }
    .logo{
        position: relative;
        right: 30%;
    }
    .burger-menu{
        display: initial;
        position: fixed;
        right: 110px;
        z-index: 3;
    }
    .icon{
        transition: .5s ease;
    }
    .mobile-menu{
    background: darkorange;
    display: initial;
    font-size: 2rem;
    height: 100%;
    position: fixed;
    top: 0px;
    /* width: 250px; */
    right: 0;
    opacity: .9;
    overflow: hidden;
    text-align: center;
    transition: .5s ease;
    width: 0; 
    z-index: 2;
    }
    .mobile-list{
    flex-direction: column;
    position: relative;
    top: 20%;
    }
    .text-title{
        left: 0;
        width: max-content;
        top: 25px;
        font-size: 3.5rem;
    }
    .text-title p{
        font-size: 3rem;
    }
    button{
        font-size: 3rem;
    }
    .categories{
        flex-direction: column;
    }
    .category{
        width: 80%;
    }
}

@media all and (max-width: 540px){
    .btn{
        margin: 5px;
        padding: 10px;
    }
}

@media all and (max-width: 500px){
    .logo img{
        width: 60px;
        height: 60px;
    }
    .burger-menu{
        right: 50px;
        top: 50px;
    }
    .btn{
        font-size: 1rem;
    }
    .menu h1{
        font-size: 4rem;
    }
    .category{
        width: 100%;
    }
}

@media all and (max-width: 360px){
    .btn{
        font-size: .7rem;
    }
}